<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>订单列表-oyr后台管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/admin/datatables/bootstrap.min.css">
	<link rel="stylesheet" href="/admin/datatables/jquery.dataTables.min.css">
	<link rel="stylesheet" href="/admin/css/font.css">
	<link rel="stylesheet" href="/admin/css/weadmin.css">
	<link rel="stylesheet" href="/public/layui/css/layui.css">
</head>

<body>
	<div class="weadmin-nav">
		<span class="layui-breadcrumb">
			<!-- javascript:history.go(-1);回退上一界面 -->
			<a href="">管理员权限</a>
			<a><cite>管理员列表</cite></a>
		</span>
		<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right"
			href="javascript:location.replace(location.href);" title="刷新">
			<i class="layui-icon" style="line-height:30px">ဂ</i>
		</a>
	</div>
	<div class="weadmin-body">
		<div class="layui-row">
			<form class="layui-form layui-col-md12 we-search">
				<div class="layui-inline">
					<input type="text" name="username" placeholder="管理员id" autocomplete="off" class="layui-input">
				</div>
				<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
			</form>
		</div>
		<table id="adminList" class="layui-table">
			<thead>
				<tr>
					<th>管理员id</th>
					<th>管理员呢称</th>
					<th>管理员权限</th>
					<th>管理员创建时间</th>
					<th>管理员更新时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="admin in admins">
					<td>{{admin.id}}</td>
					<td>{{admin.name}}</td>
					<td>{{admin.authority}}</td>
					<td>{{admin.createTime}}</td>
					<td>{{admin.updateTime}}</td>
					<td>
						<button @click="deleteAdmin(admin.id)">删除</button>
						<button @click="updateAdmin(admin)">修改信息</button>

						<!-- 弹出表单 -->
						<form id="updateForm" class="layui-form " style="display:none;width: 400px;padding: 30px;">
							<div class="layui-form-item" style="width: 400px;">
								<label class=" layui-form-label" style="width: 100px;">管理员呢称</label>
								<div class="layui-input-block">
									<input type="text" required lay-verify="required" placeholder="请输入呢称"
										autocomplete="off" class="layui-input" v-model="admin.name">
								</div>
							</div>
							<div class="layui-form-item" style="width: 400px;">
								<label class="layui-form-label" style="width: 100px;">管理员密码</label>
								<div class=" layui-input-block">
									<input type="password" required lay-verify="required" placeholder="请输入密码"
										class="layui-input" v-model="admin.password">
								</div>
							</div>
							<div class="layui-form-item" style="width: 400px;">
								<label class=" layui-form-label" style="width: 100px;">管理员权限</label>
								<div class="layui-input-block">
									<select v-model="admin.authority">
										<option value="0">无权限</option>
										<option value="1">普通管理员</option>
										<option value="2">超级管理员</option>
									</select>
								</div>
							</div>
							<br /><br /><br />
							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
								</div>
							</div>
						</form>
						<!------->

					</td>
				</tr>
			</tbody>
		</table>



	</div>
	<script src="/admin/datatables/jquery.min.js"></script>
	<script src="/admin/datatables/jquery.dataTables.min.js"></script>
	<script src="/public/layui/layui.js" charset="utf-8"></script>
	<script>
		layui.extend({
			admin: '/admin/js/admin'
		});
		layui.use(['laydate', 'jquery', 'admin', 'layer'], function () {
			var laydate = layui.laydate
			var $ = layui.jquery
			var admin = layui.admin
			var layer = layui.layer
			laydate.render({ elem: '#start' });
			laydate.render({ elem: '#end' });
		});
	</script>
	<script src="/public/js/vue.js"></script>
	<script src="/public/js/axios.js"></script>
	<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/layout/js/admin/admin.js')}"></script>

</body>


</html>