<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>会员列表-oyr后台管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="/admin/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="/admin/css/font.css">
	<link rel="stylesheet" href="/admin/css/weadmin.css">
</head>

<body>
	<div class="weadmin-nav">
		<span class="layui-breadcrumb">
			<!-- javascript:history.go(-1);回退上一界面 -->
			<a href="">会员管理</a>
			<a><cite>会员列表</cite></a>
		</span>
		<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right"
			href="javascript:location.replace(location.href);" title="刷新">
			<i class="layui-icon" style="line-height:30px">ဂ</i>
		</a>
	</div>
	<div class="weadmin-body">
		<div class="layui-row">
			<form class="layui-form layui-col-md12 we-search">
				<div class="layui-input-inline">
					<select name="contrller">
						<option value="">订单状态</option>
						<option value="0">订单创立</option>
						<option value="1">上门取货</option>
						<option value="2">收到手机</option>
						<option value="3">订单完成</option>
						<option value="4">退货中</option>
						<option value="5">退货完成</option>
					</select>
				</div>
				<div class="layui-inline">
					<input type="text" name="username" placeholder="请输入订单号" autocomplete="off" class="layui-input">
				</div>
				<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
			</form>
		</div>
		<table id="userList" class="layui-table">
			<thead>
				<tr>
					<th>用户id</th>
					<th>用户呢称</th>
					<th>用户手机号码</th>
					<th>用户地址</th>
					<th>用户创建时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="users">
				<!-- <tr>
					<td>1</td>
					<td>OYW</td>
					<td>18925139194</td>
					<td>小米 10</td>
					<td>3000</td>
					<td>3</td>
					<td>顺丰速运</td>
					<td>江西省万安县鸡毛山</td>
					<td>未完成</td>
					<td>2017-08-17 18:22</td>
				</tr> -->

			</tbody>
		</table>
	</div>
	<script src="/admin/js/jquery.min.js"></script>
	<script src="/admin/js/jquery.dataTables.min.js"></script>
	<script src="/public/layui/layui.js" charset="utf-8"></script>
	<!-- 直接从已有前端缓存中拿 -->
	<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/layout/js/admin/member.js')}"></script>
	<script>
		layui.extend({
			admin: '/admin/js/admin'
		});
		layui.use(['laydate', 'jquery', 'admin'], function () {
			var laydate = layui.laydate,
				$ = layui.jquery,
				admin = layui.admin;
			laydate.render({
				elem: '#start' //指定元素
			});
			laydate.render({
				elem: '#end' //指定元素
			});
		});
	</script>
</body>

</html>