<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/layout/css/auth.css">
</head>

<body>

    <form class="form">
        <h1> 登录 </h1>
        <input type="text" name="telephone" placeholder="请输入手机号" autocomplete="off">
        <input type="password" name="password" placeholder="请输入密码">
        <input type="submit" name="" value="登录">
    </form>

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.serializejson.min.js"></script>
    <script>
        $(function () {
            $(":submit").click((event) => {
                event.preventDefault();
                $.ajax({
                    type: "post",
                    url: "/login",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify($('form').serializeJSON()),
                    dataType: "json",
                    success: (response) => {
                        if (response.status == "success")
                            window.location.href = '/home';
                        if (response.status == "filed")
                            alert(response.message);
                    }
                });
            })
        });
    </script>

</body>

</html>