<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <title>注册</title>
</head>
<form class="layui-from">
    <div class="layui-form-item layui-col-md3">
        <label class="layui-form-label">账号:</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入账户" autocomplete="off"
                class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md3">
        <label class="layui-form-label">密码:</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
                class="layui-input">
        </div>
    </div>
</form>

<body>

</body>

<script type="text/javascript" src="../static/layui/layui.all.js"></script>

</html>