<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/layout/css/auth.css">
</head>

<body>

    <form class="form">
        <h1> 注册</h1>
        <input type="text" name="username" placeholder="请输入呢称" autocomplete="off">
        <input type="password" name="password" placeholder="请输入密码">
        <input type="text" name="telephone" placeholder="请输入手机号">
        <input type="text" name="address" placeholder="请输入地址">
        <input type="submit" value="注册">
    </form>

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.serializejson.min.js"></script>
    <script>
        $(function () {
            $(":submit").click((event) => {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/user/",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify($('form').serializeJSON()),
                    dataType: "json",
                    success: (response) => {
                        if (response.status == "success")
                            window.location.href = '/login';
                        if (response.status == "filed")
                            alert(response.message);
                    }
                });
            })
        });
    </script>

</body>

</html>