<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oyw.gp.oyr.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="oyw.gp.oyr.entity.Order">
        <id column="id" property="id" />
        <result column="price" property="price" />
        <result column="user_id" property="userId" />
        <result column="telephone" property="telephone" />
        <result column="address" property="address" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="phone_id" property="phoneId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, price, user_id, telephone, address, create_time, state, phone_id
    </sql>

</mapper>
