<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oyw.gp.oyr.mapper.PhoneMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="oyw.gp.oyr.entity.Phone">
        <id column="id" property="id" />
        <result column="brand" property="brand" />
        <result column="model" property="model" />
        <result column="color" property="color" />
        <result column="storage" property="storage" />
        <result column="price" property="price" />
        <result column="image" property="image" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, brand, model, color, storage, price, image
    </sql>

    <select id="getPhonesByBrand" parameterType="oyw.gp.oyr.entity.Phone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from phone
        where brand = #{brand,jdbcType=VARCHAR}
    </select>

</mapper>